# It is a convention among django developers to place a requirements.txt
# in the root of their projects and to run the pip command to install it.
# Openshift python cartridge allows for install of the requirements in two
# ways.

# The first method is via this requirements.txt file. Anything placed here
# will get automatically installed on the openshift application virtualenv

# In addition to this, openshift mandates the use of a setup.py to install
# the django-project. The install_requires setup option will in addition,
# install any other packages which are needed by the application.

# With this double approach, it made the most sense to employ the both for
# a different purpose.

# This text file is proposed to be used as a 'globally' required set of
# python goodies which you would like to have installed on the server, but
# is not a direct dependency of the application.

ipython
isort
lfm
pyclean
todotxt-machine
ttop