{% extends 'layout.html' %}
{% load staticfiles %}

{% block title_block %} 
    Type Parse
{% endblock %}


{% block head_block %} 
<link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}


{% block content_block %}
{% verbatim %}
<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-controller="UploadsController as uc">
    <md-toolbar layout="column" class="md-whiteframe-z1">
        <h1 class="md-margin">
            ntp.conf generator
        </h1>
        <div class="md-toolbar-tools">
            <h2>
                Parse Your Configuration Here
            </h2>
            <span flex></span>
            <div ng-model="uc.upload.version">
            {{uc.upload.version}}
            </div>
        </div>
    </md-toolbar>
    <md-content flex layout="column">
        <md-tabs md-selected="uc.selectedTab" md-stretch-tabs="auto" flex>
            <md-tab>
                <md-tab-label>
                    Input File
                    <md-progress-linear md-mode="indeterminate" id="progress_input" ng-show="uc.inputLoading"></md-progress-linear>
                </md-tab-label>
                <md-tab-body>
                    <div id="editor_input" style="height: 100%; width: 100%;">
                        Loading Content
                    </div>
                </md-tab-body> 
            </md-tab>
            <md-tab>
                <md-tab-label>
                    Output File
                    <md-progress-linear md-mode="indeterminate" id="progress_output" ng-show="uc.outputLoading"></md-progress-linear>
                </md-tab-label>
                <md-tab-body>
                    <div id="editor_output" style="height: 100%; width: 100%;">
                        Loading Content
                    </div>
                </md-tab-body> 
            </md-tab>
        </md-tabs>
    </md-content>

    <md-toolbar flex layout="row" style="max-height: 44px;" >
            <span flex></span>
            <md-button ng-show="uc.selectedTab == 1" aria-label="Download" ng-click="uc.fileRaw()">
                Download
            </md-button>
            <md-button ng-show="uc.selectedTab == 0" aria-label="Parse" ng-click="uc.fileUpload()">
                Parse Again
            </md-button>
        </md-toolbar>
    </md-content>
</div>
{% endverbatim %}
{% endblock content_block %}


{% block script_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8" defer></script>
<script src=" {% static "frontend/js/uploads/Uploads.js" %} " defer></script>
<script src=" {% static "frontend/js/uploads/UploadsController.js"%}" defer></script>
<script src=" {% static "frontend/js/uploads/UploadsService.js" %}" defer></script>
<script type="text/javascript" >
    angular
        .module('webconfgen', ['ngMaterial', 'uploads'])
        .config(function($mdThemingProvider){
            $mdThemingProvider.theme('default')
                .primaryPalette('blue')
                .accentPalette('red');
        });
</script>
{% endblock script_block %}
