{% extends 'layout.html' %}
{% load staticfiles %}

{% block title_block %} 
    Type Generator
{% endblock title_block %}


{% block head_block %} 
<link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head_block %}


{% block content_block %}
{% verbatim %}
<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-controller="SnippetsController as sc">
    <md-toolbar layout="column" class="md-whiteframe-z1">
        <h1 class="md-margin">
            ntp.conf generator
        </h1>
        <div class="md-toolbar-tools">
            <h2>
                Generate / Create Your Configuration Here
            </h2>
            <span flex></span>
            <md-select ng-model="sc.selectedVersion" placeholder="Choose Version" aria-label="Version">
                <md-option ng-value="ver" ng-repeat="ver in sc.versions">
                    {{ver.version}}
                </md-option>
            </md-select>
        </div>
    </md-toolbar>

    <md-content flex layout="column">
        <md-tabs md-selected="sc.selectedTab" md-stretch-tabs="auto" flex>
            <md-tab>
                <md-tab-label>
                    Editor
                </md-tab-label>
                <md-tab-body>
                    <div id="editor" style="height: 100%; width: 100%;"></div>
                </md-tab-body> 
            </md-tab>

            <md-tab>
                <md-tab-label>
                    Generate
                </md-tab-label>
                <md-tab-body>
                    <md-chips ng-model="sc.selectedSnippets" md-autocomplete-snap md-require-match>
                        <md-autocomplete
                            md-no-cache
                            md-search-text="sc.searchText"
                            md-items="item in sc.getMatches(sc.searchText)"
                            md-item-text="item.name"
                            md-search-text-change="sc.checkRefreshContent(sc.selectedSnippets)"
                            ng-click="sc.checkRefreshContent(sc.selectedSnippets)"
                            ng-keyup="sc.checkRefreshContent(sc.selectedSnippets)"
                            md-selected-item-change="sc.checkRefreshContent(sc.selectedSnippets)"
                            placeholder="Add some Snippets">
                            <span md-highlight-text="sc.searchText">{{item.name}} :: {{item.description}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                            <strong>{{$chip.name}}</strong>
                            <em>({{$chip.description}})</em>
                            </span>
                        </md-chip-template>
                    </md-chips>
                    <h3>
                        Some form in which content is added
                    </h3>
                    <md-button ng-click="sc.selectedSnippets = []; sc.content = '1'; sc.checkRefreshContent([])">Option 1 (wipe clean)</md-button>
                    <md-button ng-click="sc.selectedSnippets = sc.snippets; sc.content = '2'; sc.checkRefreshContent(sc.snippets)">Option 2 (select all)</md-button>
                    <md-button ng-click="sc.selectedSnippets = [sc.snippets[0]]; sc.content = '3'; sc.checkRefreshContent([sc.snippets[0]])">Option 3 (select first snippet)</md-button>
                </md-tab-body>
            </md-tab>

        </md-tabs>

        <md-toolbar flex layout="row" style="max-height: 44px;" >
            <div class="md-button md-default-theme">
                <md-button aria-label="Import">
                    Import
                </md-button>
                <input type="file" style="position: absolute; top: 0px; right: 0px; margin: 0; padding: 0; cursor: pointer; opacity: 0; filter: alpha(opacity=0); height: 100%; width: 100%; z-index: 10000" onchange="angular.element(this).scope().sc.fileImport(this)" />
            </div>
            
            <span flex></span>
            <md-button aria-label="Download" ng-click="sc.fileRaw()">
                Download
            </md-button>
            <md-button aria-label="Parse" ng-click="sc.fileUpload()">
                Send for Parse
            </md-button>
        </md-toolbar>
    </md-content>
 
  </div>
{% endverbatim %}
{% endblock content_block %}


{% block script_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8" defer></script>
<script src=" {% static "frontend/js/snippets/Snippets.js" %} " defer></script>
<script src=" {% static "frontend/js/snippets/SnippetsController.js"%}" defer></script>
<script src=" {% static "frontend/js/snippets/SnippetsService.js" %}" defer></script>
{% endblock script_block %}
